body
  margin: 0px

.navbar
  height: 50px
  background-color: #fff
  box-shadow: black
  color: #4abdac

.container

  .coming-soon
    background-image: asset-url('beer.jpg')
    height: 700px
    background-size: cover
    background-repeat: no-repeat
    background-position-y: -60px

    .slogan
      text-align: center
      font-size: 40px
      font-family: 'Josefin Sans', sans-serif
      color: #fff
      text-transform: capitalize
      padding-top: 30px


    .name
      margin: 0 auto
      width: 73%
      padding-top: 120px

      .chela
        font-size: 250px
        font-family: 'Varela Round', sans-serif
        color: #fff
        display: inline-block
        width: 90%

      .beercap
        height: 100px
        display: inline-block
        width: 8%

        .image
          margin-top: 47px
          height: 55px
          background-image: asset-url('bottle-cap-outline.png')
          background-repeat: no-repeat
          background-size: contain
          // width: %
          // background-position: right
    .signup
      margin: 0 auto
      width: 67%

      .email-input
        width: 100%
        display: inline-block
        background-color: #4abdac
        border-radius: 10px

        .input
          display: inline-block
          width: 89%

          border-radius: 10px

          input
            width: 112%
            height: 70px
            font-size: 30px
            border-radius: 10px 0px 0px 10px
            background-color: #4abdac
            border: none
            color: #fff
            font-family: 'Varela Round', sans-serif
            text-align: center
            letter-spacing: 3px
            padding-left: 10px
            border-right: solid 3px #fff

          ::-webkit-input-placeholder
            color: #fff


        .image
          // margin-top: 47px
          height: 55px
          background-image: asset-url('bottle-cap-outline.png')
          background-repeat: no-repeat
          background-size: contain
          display: inline-block
          width: 7%
          vertical-align: top
          margin: 8px 0px 0px 15px
          cursor: pointer
          transition: 300ms

          &:hover
            height: 53px
            transition: 300ms
