-# .navbar Coming Soon

.container
  .coming-soon
    .slogan Enjoy the world, one sip at a time
    .name
      .chela CHELA
      .beercap
        .image

    .signup
      = simple_form_for(:customer) do |f|
        .email-input
          .input
            = f.input :email, label: false, placeholder: 'Enter your email for future announcements!'
          .image
  .about
    .whatischela What is Chela?
